/* FilmsItem.css */

/* Основной контейнер */
.film-item-container {
    background-color: #141414; /* Цвет фона */
    padding: 3rem 0; /* Отступы */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Заголовок для комментариев */
.film-item-comments h3 {
    color: #fff; /* Цвет текста */
    margin-bottom: 1rem; /* Отступ снизу */
}
.film-card{
    width: 300px;
}

/* Контейнер для комментариев */
.film-item-comment-container {
    background-color: #222222; /* Цвет фона */
    border-radius: 10px; /* Радиус границ */
    padding: 15px; /* Отступы */
    overflow-y: auto; /* Полоса прокрутки */
    max-height: 400px; /* Максимальная высота */
}

/* Комментарий */
.film-item-comment {
    padding: 15px; /* Отступы */
    background-color: #333; /* Цвет фона */
    border: 1px solid #222; /* Граница */
    border-radius: 10px; /* Радиус границ */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    margin-bottom: 15px; /* Отступ снизу */
}

/* Заголовок комментария */
.film-item-comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #222; /* Граница */
    padding-bottom: 5px; /* Отступ снизу */
}

/* Автор комментария */
.film-item-comment-author {
    margin-bottom: 0; /* Убираем отступ снизу */
    font-weight: bold; /* Жирный текст */
    color: #17a2b8; /* Цвет текста */
}

/* Текст комментария */
.film-item-comment-content {
    margin-top: 10px; /* Отступ сверху */
    color: #d1d1d1; /* Цвет текста */
}

/* Отступы для группы ввода */
.film-item-input-group {
    display: flex;
    margin-top: 10px; /* Отступ сверху */
}

/* Стили для кнопки */
.film-item-input-group .btn {
    border-top-right-radius: 10px; /* Радиус границ */
    border-bottom-right-radius: 10px; /* Радиус границ */
    border-left: none; /* Убираем левую границу */
    background-color: #e50914; /* Цвет фона */
    border: none; /* Убираем границы */
    color: #fff; /* Цвет текста */
    padding: 0.5rem 1rem; /* Отступы внутри кнопки */
    cursor: pointer; /* Курсор при наведении */
}

/* При наведении на кнопку */
.film-item-input-group .btn:hover {
    background-color: #f40612; /* Изменяем цвет фона */
}
